// VARIABLES
  // for media queries
@min: {
  320: ~"only screen and (min-width: 320px)";
  480: ~"only screen and (min-width: 480px)";
  600: ~"only screen and (min-width: 600px)";
  768: ~"only screen and (min-width: 768px)";
  992: ~"only screen and (min-width: 992px)";
  1280: ~"only screen and (min-width: 1280px)";
  1600: ~"only screen and (min-width: 1600px)";
  1920: ~"only screen and (min-width: 1920px)";
}
@max: {
  319: ~"only screen and (max-width: 320px)";
  479: ~"only screen and (max-width: 480px)";
  599: ~"only screen and (max-width: 600px)";
  767: ~"only screen and (max-width: 768px)";
  991: ~"only screen and (max-width: 992px)";
  1279: ~"only screen and (max-width: 1280px)";
  1599: ~"only screen and (max-width: 1600px)";
  1919: ~"only screen and (max-width: 1920px)";
}
@minmax: {
  600-991: ~"only screen and (min-width: 600px)";
}
// -----------------
  // fonts
@font: {
  title: 'Fraunces', serif;
  body: 'Eczar', serif;
  head: 'Grenze Gotisch', serif;
  nav: 'Texturtina', serif;
}
// -----
  // colors
    // typography
  @text: hsl(160, 25%, 66%);
  @bold: hsl(165, 19%, 54%);
  @italic: hsl(165, 15%, 65%);
  @strike: hsl(160, 10%, 50%);
  @link: hsl(48, 50%, 75%);
  @active: darken(saturate(@link, 5%), 10%);
  @hover: darken(saturate(@link, 10%), 15%);
  @heading-12: hsl(160, 60%, 60%);
  @heading-3456: hsl(150, 41%, 53%);
  @mentioned: hsl(160, 20%, 45%);
    // elements
  @background: hsl(282, 46%, 14%);
  @content: hsl(277, 92%, 5%); 
  @contentshadow: hsl(284, 45%, 10%); 
  @border: hsl(282, 65%, 9%);
    // fears
  @themes: {
    @invtbl: {
      a: hsl(253, 69%, 49%);
      c: hsl(104, 80%, 62%);
    }
    @intmcy: {
      y: hsl(309, 81%, 59%);
      n: hsl(204, 90%, 62%);
    }
    lurk: hsl(293, 97%, 35%);
    flaw: hsl(272, 87%, 54%);
    stagnant: hsl(178, 89%, 60%);
    guilt: hsl(151, 84%, 53%);
    nature: hsl(5, 71%, 56%);
    instability: hsl(64, 87%, 64%);
    oppressive: hsl(30, 90%, 68%);
    threat: hsl(348, 66%, 52%);
    mutilation: hsl(334, 97%, 26%);
  }
// ------