/* BUNDLES.CC/@STRAY CSS */
/* PROFILE CONTAINER CSS START */

    .about-body {
        width:450px;
        height:450px;
    }

/* PROFILE CONTAINER CSS END */
/* PRIMARY WOLF IMAGE CSS START */

    #about-art {
        height:inherit;
        position:absolute;
        justify-content: center;
    }

/* PRIMARY WOLF IMAGE CSS END */
/* PAGE TITLE CSS START */

    .about-title {
        font-size:28px;
        font-weight:800;
    }

/* PAGE TITLE CSS END */
/* PAGE INFO TEXT CSS START */

    .about-text {
        position:relative;
        width:350px;
    }
    #about-text-1 {
        line-height:20px;
        font-size:18px;
        width:fit-content;
        position:inherit;
    }
    #about-text-2 {
        line-height:20px;
        text-align:right;
        font-size:18px;
        position: inherit;
    }

/* PAGE INFO TEXT CSS END */