/* BUNDLES.CC/@STRAY CSS */
/* PROFILE CONTAINER CSS START */

    

/* PROFILE CONTAINER CSS END */
/* PRIMARY WOLF IMAGE CSS START */

    .main-image {
        height:auto;
        width:550px;
        position:absolute;
    }

/* PRIMARY WOLF IMAGE CSS END */
/* PAGE TITLE CSS START */

    .main-title {
        font-size:28px;
        font-weight:800;

        animation-name:hovering;
        animation:hovering 2s
        infinite ease-in-out;
    }

/* PAGE TITLE CSS END */
/* PAGE INFO TEXT CSS START */

    .main-body {
        font-size:17px;
        
    }

/* PAGE INFO TOP-HALF CSS START */

    .text-names {
        font-size:18px;
    }
    #text-prns {
        font-size:16px;
    }

/* PAGE INFO TOP-HALF CSS END */
/* PAGE INFO BOTTOM-HALF CSS START */

    .main-bottom {
        display: flex;
    }
    #button-img {
        width: 50px;
        height:auto;
    }

/* PAGE INFO BOTTOM-HALF CSS END */
/* PAGE INFO TEXT CSS END */

/* ANIMATION(S) KEYFRAMES START */

    @keyframes hovering {
        0% {translate:(0,0);}
        50% {translate:(0,15);}
        100% {translate:(0,-0);}
    }

/* ANIMATION(S) KEYFRAMES START */