/* BUNDLES.CC/@STRAY CSS */
/* ANIMATION(S) KEYFRAMES START */

@keyframes updown {
    from {translate:(0,0);}
    50% {translate:(0,15);}
    to {translate:(0,-0);}
}
@-moz-keyframes updown {
    from {translate:(0,0);}
    50% {translate:(0,15);}
    to {translate:(0,-0);}
}
@-webkit-keyframes updown {
    from {translate:(0,0);}
    50% {translate:(0,15);}
    to {translate:(0,-0);}
}

/* ANIMATION(S) KEYFRAMES START */
/* PROFILE CONTAINER CSS START */

    #home {
        background-color:#000000;
        color:#f4ebb8;
    }
    a:link {
        color:#fcd34e;
    }
    a:hover {
        color:#fca54e
    }
    a:visited {
        color:#bfaf79;
    }

/* PROFILE CONTAINER CSS END */
/* PRIMARY WOLF IMAGE CSS START */

    .main-image {
        width:400px;
    }

/* PRIMARY WOLF IMAGE CSS END */
/* PAGE TITLE CSS START */

    .main-title {
        animation-name:updown;
        animation-duration:2s;
        animation-timing-function:ease-in-out;
        animation-iteration-count:infinite;

        -moz-animation-name:updown;
        -moz-animation-duration:2s;
        -moz-animation-timing-function:ease-in-out;
        -moz-animation-iteration-count:infinite;

        -webkit-animation-name:updown;
        -webkit-animation-duration:2s;
        -webkit-animation-timing-function:ease-in-out;
        -webkit-animation-iteration-count:infinite;

        font-size:26px;
        font-weight:800;
        position:relative;
    }

/* PAGE TITLE CSS END */
/* PAGE INFO TEXT CSS START */

    .main-info {
        font-size:16px;
        position:relative;
        top:25%;
        right:55%;
    }

/* PAGE INFO TOP-HALF CSS START */

    .main-top {
        position:relative;
        right:10%;
        top:5%;
    }
    .text-names {
        font-size:17px;
    }
    #text-prns {
        font-size:15px;
    }

/* PAGE INFO TOP-HALF CSS END */
/* PAGE INFO BOTTOM-HALF CSS START */

    .main-bottom {
        display:flex;
    }
    #button-img {
        width: 50px;
        height:auto;
        position:relative;
        right:15px;
    }

/* PAGE INFO BOTTOM-HALF CSS END */
/* PAGE INFO TEXT CSS END */