    /* BASE STYLES START*/
body, html {

    height: 100%;

}

html {

    font-size: 14px;

}
body {

    background-color: #08080a;

/* TEXT STYLE START */
    font-family: "Besley", serif;
    font-weight: 500;
    font-size: 1.3rem;
    color: #faebd7;
    
/* TEXT STYLE END */

}
    /* BASE STYLES END */
    /* INDEX STYLES START */
#index-box {

    width: 15rem;
    position: absolute;
    margin: auto;
    top: 50%;
    right: 50%;

}
    /* INDEX STYLES END */