    /* BASE STYLES START*/


html {

    font-size: 14px;

}
body {

    background-color: #08080a;

/* TEXT STYLE START */
    font-family: "Besley", serif;
    font-weight: 500;
    font-size: 1.3rem;
    color: #faf1e5;
    
/* TEXT STYLE END */

}
a:link {
    color: #eee6c1;
}
a:visited {
    color: #d8d3bc;
}
a:hover {
    color: #e9ebb9;
}
    /* BASE STYLES END */
    /* INDEX STYLES START */
#index-box {

    width: 220px;
    height: 140px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
#index-txt {
    
    text-align: justify;

}
    /* INDEX STYLES END */
    /* THE MAGNUS ARCHIVES STYLES START */


    /* THE MAGNUS ARCHIVES STYLES END */
    /* THE MAGNUS PROTOCOL STYLES START */
h2.protocol {
    color: #cc5c5c;
}
.episodenum {
    font-family: "Besley", serif;
    font-weight: 600;
}
.tmp-episodedesc {
    font-style: italic;
    color: #a68888;
}
    /* THE MAGNUS PROTOCOL STYLES END */