/* ---------------------------------- VARIABLE DEFINITION */
:root, html[data-theme="dark"] { /* minimal colors */
    --light-off: block;
    --light-on: none;
    --text: #e4d6c7;
    --bold: #b1aba1;
    --italic: #beb8af;
    --link: #ece3bb;
    --hover: #e9eba7;
    --visited: #cec7a8;
    --title: #b99878;
    --prompt: #9e8773;
    --description: #d1b7a2;
    --important: #a0876a;
    --mentioned: #bfae9e;
    --suspected: #9b9286;
    --background: #08080a;
    --content: #131218;
    --border: #c98545;
}
html[data-theme="light"] { /* minimal colors */
    --light-off: none;
    --light-on: block;
    --text: #;
    --bold: #;
    --italic: #;
    --link: #;
    --hover: #;
    --visited: #;
    --title: #;
    --prompt: #;
    --description: #;
    --important: #;
    --mentioned: #;
    --suspected: #;
    --background: #;
    --content: #;
    --border: #;
}
html[data-theme="dark"] body.protocol {
    --title: #dc6464;
    --prompt: #d44242;
    --description: #d1a2a2;
    --important: #a06a6e;
    --mentioned: #9b8686;
    --suspected: #bfa49e;
    --border: #c94545;
}
/* --------------------------------- LIGHT/DARK MODE TRANSITION */
html.theme-transition,
html.theme-transition *,
html.theme-transition *:before,
html.theme-transition *:after {
  transition: 0s !important;
  transition-delay: 0 !important;
}

/* ----------------------------------------- LIGHT/DARK MODE TOGGLES */
button.theme-toggle {
    outline: none;
    border: 0;
    padding: 0;
    background: var(--content);
    cursor: pointer; 
    font-size: 20px;  /* size of icons */
    color: var(--text);
}

.light-on {
    display: var(--light-on);
}
.light-off {
    display: var(--light-off); 
}

/* ----------------------------------------- CSS RESETS (Joshua Comeau) */
*,*::before,*::after {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}
* {
    margin: 0;
    scrollbar-width: thin; /* firefox */
    scrollbar-color: var(--accent) var(--background); /* firefox */
}

html {
    font-family: "Alegreya", serif;
    font-size: 62.5%; /* 1.1rem = 11px, 2.5rem = 25px, etc. */
    
    scrollbar-width: thin;
}
body {
    font-weight: 500;
    margin: 1rem;
    color: var(--text);
    background-color: var(--background);
    display: flex;
    flex-direction: column;
}
footer {
    flex-direction: row;
    background-color: var(--background);
    border-top: var(--border);
    width: 100%;
    height: 30px;
    align-items: center;
    justify-content: center;
    align-content: flex-end;
    position: fixed;

}
button,
textarea,
select {
    font: inherit;
}
button {
    outline: none;
    border: 0;
    background: transparent;
    padding: 0;
    display: inherit;
    cursor: pointer;
    color: inherit;
}
input {
    font: inherit;
    border: none;
    outline: 0;
    padding: 0;
    background-color: transparent;
}
p,h1,h2,h3,h4,h5,h6 {
    overflow-wrap: break-word;
}

/* ----------------------------------------- */
