

            /* BASE STYLES START*/
    html {

        font-size: 14px;
    
    }
    body {
    
        background-color: #08080a;
            /* BODY TEXT STYLE START */
        font-family: "Besley", serif;
        font-weight: 500;
        font-size: 1.3rem;
        color: #faf1e5;
            /* BODY TEXT STYLE END */
    
    }
            /* TEXT STYLES START */
    i {

        color: #dad1c4;
        
    }
    b {

        color: #c1baae;

    }
    a:link {
    
        color: #ece3bb;
    
    }
    a:visited {
    
        color: #cec7a8;
    
    }
    a:hover {
    
        color: #e9eba7;
    
    }
            /* TEXT STYLES END */
            /* BASE STYLES END */

            /* GENERAL MAGPOD STYLES START */
            /* TEXT STYLES START */
            /* EPISODE TITLE START */
    h2 {
    
        text-indent: 2.5rem;
        font-size: 1.7rem;
    
    }
    h2 span {
    
        font-weight: 900;
        
    }
            /* EPISODE TITLE END */
    h3 {
    
        text-indent: 5rem;
        font-size: 1.45rem;
        font-style: italic;
        margin-bottom: -1rem;
    
    }
    h6 {
    
        font-weight: 650;
        font-size: 1.1rem;
        font-style: italic;
        text-align: right;
        width: 485px;
        position: relative;
        left: 25%;
    
    }
            /* TEXT STYLES END */
            /* PAGE FORMATTING START */
    body.flex {
    
        display: flex;
        flex-flow: row wrap;
    
    } 
    article {
        
        flex-flow: column;
        width: 700px;
        padding: 2.5%;
    
    }
    aside {

        display: inherit;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        font-size: 1rem;
        width: 375px;
        position: sticky;
        top: 10%;
        align-self: flex-start;

    }
    div.sect {
    
        line-height: 1.4rem;
        margin-top: 2rem;
    
    }
            /* PAGE FORMATTING END */
            /* ANALYSES PORTIONS STYLES START */
    .prompt {
    /* ex: "Appearances:" */
        font-weight: 700;
        font-size: 1.2rem;
    
    }
            /* .PROMPT RESPONSES START */
    section.info p {
    
        text-align: justify;
        font-size: 1.1rem;
    
    }
    p.analysis {
    
        text-indent: 2.5rem;
        line-height: 1.75rem;
        margin-top: -0.5rem;
    
    }
            /* .PROMPT RESPONSES END */
            /* ANALYSES PORTIONS STYLES END */
            /* OFFICIAL EPISODE DESCRIPTION STYLES START */
    .epdesc {

        font-size: 0.9rem;
        font-style: italic;
        text-align: right;
        position: relative;
        bottom: 45%;
        right: 10%;

    }
            /* OFFICIAL EPISODE DESCRIPTION STYLES END */
            /* LEGEND / KEY STYLES START */
    .key {

        display: inline-flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 350px;

    }
    .key div {
        margin: 0.2rem;
    }
    div.key .imp, 
    span.imp {

        font-weight: 600;

    }
    div.key .sus, 
    span.sus  {
      
        font-style: italic;

    }
            /* JUMPLINK STYLES START */
    h3 a.jump {

        font-size: 0.9rem;
        

    }
    a.jump {
        
        color: #3f3f46;
        font-style: normal;
        
    }
            /* JUMPLINK STYLES END */
            /* NAVIGATION STYLES START */
    .nav, .links {

        display: inherit;
        flex-flow:column;
        align-items: center;

    }
    .navlink {

        display: inherit;
        flex-flow: row wrap;
        justify-items: left;

    }
    .nav {

        display: inherit;
        justify-self: left;
    
    }
    .links {

        display: inherit;
        justify-self: right;

    }
            /* NAVIGATION STYLES END */
            /* LEGEND / KEY STYLES END */
            /* GENERAL MAGPOD STYLES END */

            /* ARCHIVES STYLES START */

            /* ARCHIVES STYLES END */

            /* PROTOCOL STYLES START */
            /* HEADER COLOR START */
    h2.protocol, h3.protocol, h6.protocol {
    
        color: #dc6464;
    
    }
            /* HEADER COLOR END */
            /* PROMPT COLOR STYLES START */
    .prompt.protocol {
    
        color: #ec2a2a;
    
    }
            /* PROMPT COLOR STYLES END */
            /* EPISODE DESCRIPTION COLOR STYLES START */
    .epdesc.protocol, .epdesc.protocol b {
    
        color: #d1a2a2;
        
    }
            /* EPISODE DESCRIPTION COLOR STYLES END */
            /* LEGEND / KEY COLOR STYLES START */
    div.key .imp.protocol, 
    span.imp.protocol  {
        color:#a06a6e
    }
    div.key .sus.protocol, 
    span.sus.protocol  {
        color:#bfa49e
    }
    div.key .ment.protocol, 
    span.ment.protocol  {
        color:#9b8686
    }
        /* LEGEND / KEY COLOR STYLES END */
        /* THE MAGNUS PROTOCOL STYLES END */