@import "beercss.css";

/*------ HTML STYLES ------*/
            /*--- formatting styles ---*/

html {

    height: 100%;
    font-size: 16px;
    font-family: "Besley", serif;
    font-weight: 500;

}

:root, body.plain {    /* defining variables */

    --background: #08080a;
    --content-bg: #131218;

    --text: #e4d6c7;
    --text-bold: #b1aba1;
    --text-italic: #beb8af;

    --link: #ece3bb;
    --link-visit: #cec7a8;
    --link-hover: #e9eba7;

    --header: #b99878;
    --prompt: #9e8773;
    --ep-desc: #d1b7a2;

    --important: #a0876a;
    --suspect: #bfae9e;
    --mention: #9b9286;

    --border: #c98545;

} 


body.protocol {    /* redefining */

    --background: #08080a;
    --content-bg: #131218;

    --text: #e4d6c7;
    --text-bold: #b1aba1;
    --text-italic: #beb8af;

    --link: #ece3bb;
    --link-visit: #cec7a8;
    --link-hover: #e9eba7;
    --header: #dc6464;
    --prompt: #d44242;
    --ep-desc: #d1a2a2;

    --important: #a06a6e;
    --suspect: #bfa49e;
    --mention: #9b8686;

    --border: #c94545;

}

body.archives {    /* redefining */

    --background: #08080a;
    --content-bg: #131218;

    --text: #e4d6c7;
    --text-bold: #b1aba1;
    --text-italic: #beb8af;

    --link: #ece3bb;
    --link-visit: #cec7a8;
    --link-hover: #e9eba7;
    --header: #94dc64;
    --prompt: #53d442;
    --ep-desc: #add1a2;

    --important: #6aa06e;
    --suspect: #adbf9e;
    --mention: #869b86;

    --border: #54c945;

}   

/*------ END ------*/


/*------ BODY STYLES ------*/
            /*--- formatting styles ---*/

body {

    background-color: var(--background);

    font-size: 1.4rem;
    color: var(--text);
    font-family: "Besley", serif;
    width: 100%;
    height: 100%;

    display: flex !important;
    justify-content: center !important;
    padding-left: 1.25%;
    padding-right: 1.25%;

}

.container {

    width: 55%;
    position: relative;
    margin: 0;

}

article {   /* all episode details */

    background: var(--content-bg);
    border: double var(--border);
    border-top: none;
    border-bottom: none;

    min-height: 100%;
    width: 100%;
    
    margin: 0;
    padding: 5%;

    flex-flow: column wrap !important;
    align-self: center;
    justify-self: center;

}

.contents {

    position: absolute;

}

button {    /* menu */

    background-color: var(--content-bg);
    color: var(--ep-desc);
    border: var(--border);

}

.menu {

    display: flex;
    flex-flow: column;
    position: relative;
    width: 5%;

}

i.ph, i.ph-thin, 
i.ph-light, i.ph-bold, 
i.ph-fill, i.ph-duotone {

    color: var(--ep-desc);

}

i.ph:hover, 
i.ph-thin:hover, 
i.ph-light:hover, 
i.ph-bold:hover, 
i.ph-fill:hover, 
i.ph-duotone:hover {

    color: var(--header);

}

/*------ END ------*/



/*------ TEXT STYLES ------*/
            /*--- selection styles ---*/

body.plain * ::-moz-selection,
body.plain * ::selection {

    background: var(--ep-desc);
    color: var(--content-bg);    

}

body.protocol * ::-moz-selection,
body.protocol * ::selection {

    background: var(--ep-desc);
    color: var(--content-bg);    

}

body.archives * ::-moz-selection,
body.archives * ::selection {

    background: var(--ep-desc);
    color: var(--content-bg);    

}

            /*--- general styles ---*/

i {

    color: var(--text-italic);

}

b {

    color: var(--text-bold);

}

* {

    vertical-align: baseline;

}

            /*--- header styles ---*/

h2 {    /* episode titles */

    text-indent: 1.5rem;
    font-size: 2rem;
    margin-top: 1rem;

} 

h2 span {   /* episode number */

    font-weight: 900;
    
}  

h3 {    /* episode sections */

    text-indent: 3rem;
    font-size: 1.5rem;
    font-style: italic;
    margin-top: 2.5rem;
    margin-bottom: -1.5rem;

} 

h6 {    /* favorite quote */

    font-weight: 650;
    font-size: 1rem;
    font-style: italic;
    text-align: right;
    
} 

h2, h3, h6 {

    color: var(--header);

}

            /*--- link styles ---*/

a:link {

    color: var(--link);

}

a:hover {

    color: var(--link-hover);

}

a:visited {

    color: var(--link-visit);

}

            /*--- analysis styles ---*/

.prompt {   /* analyses prompt */

    /* ex: "Appearances:" */
font-weight: 700;
font-size: 1.1rem;
color: var(--prompt);

}

.group {    /* prompt groups that go together */

margin-top: 0.5rem;

}

section.info p {

text-align: justify;
font-size: 1rem;

}

p.analysis {

text-indent: 2.5rem;
line-height: 1.75rem;
margin-top: 0.5rem;

}

div.section {

    line-height: 1.4rem;
    margin-top: 1.5rem;

}

.epdesc {

    font-size: 1rem;
    font-style: italic;
    text-align: right;
    margin-top: 1rem;
    margin-bottom: -1rem;
    color: var(--ep-desc);

}

            /*--- legend|key ---*/

div.key .imp, 
span.imp  {

    color: var(--important);
}

div.key .sus, 
span.sus  {

    color: var(--suspect);

}

div.key .men, 
span.men  {
    
    color: var(--mention);
    font-style: italic;

}

/*------ END ------*/

.tooltip {

    background-color: var(--content-bg);

}

/*------ END ------*/